@font-face {
  font-family: segoeUIreg;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeUIbold;
  src: url(../fonts/segoeuib.ttf);
}
@font-face {
  font-family: segoeUIitalic;
  src: url(../fonts/segoeuii.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

footer {
  height: 92px;
  width: 100%;
  color: #fff;
  background-color: #587c83;
  align-items: center;
}
