@font-face {
  font-family: segoeUIreg;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: segoeUIbold;
  src: url(../fonts/segoeuib.ttf);
}
@font-face {
  font-family: segoeUIitalic;
  src: url(../fonts/segoeuii.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 110px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  border-bottom: solid 2px #000;
}
nav .nav-logo {
  display: flex;
  align-items: center;
  font-family: segoeUIreg;
  font-size: 16px;
}
nav .nav-logo img {
  width: 73px;
  height: 73px;
}
nav .nav-logo p {
  margin-top: 35px;
  margin-left: 20px;
}
nav .nav-search {
  height: 40px;
  width: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
nav .nav-search img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20%;
  left: 1%;
}
nav .nav-search input {
  width: 100%;
  height: 100%;
  background-color: rgba(88, 124, 131, 0.55);
  outline: none;
  border: none;
  padding-left: 40px;
}
nav .nav-search input::placeholder {
  font-family: segoeUIreg;
  font-size: 16px;
  color: #000;
  opacity: 55%;
}
nav .nav-links {
  display: flex;
  align-items: center;
}
nav .nav-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: segoeUIreg;
  font-size: 16px;
  color: #000;
  margin-left: 25px;
}
nav .nav-links .active-link {
  font-family: segoeUIbold;
  font-size: 16px;
  color: #707070;
}
nav .nav-links img {
  width: 47px;
  height: 47px;
}

footer {
  height: 92px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  background-color: #587c83;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
footer .footer-notice {
  font-family: segoeUIreg;
  font-size: 16px;
}
footer .footer-links {
  font-family: segoeUIreg;
  font-size: 16px;
  justify-content: space-between;
}
footer .footer-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
footer .footer-socials {
  justify-content: space-between;
}
footer .footer-socials img {
  width: 44px;
  height: 44px;
  margin-right: 20px;
}

.home-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home-content .home-hero-wrapper {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}
.home-content .home-hero-wrapper .home-hero {
  position: relative;
  width: 100%;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/home-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-content .home-hero-wrapper .home-hero .hero-text {
  position: absolute;
  left: 70%;
  top: 50%;
}
.home-content .home-hero-wrapper .home-hero .hero-text p {
  font-family: segoeUIbold;
  color: #fff;
  font-size: 32px;
  margin-bottom: 0px;
}
.home-content .home-hero-wrapper .home-hero .hero-text .sub {
  font-family: segoeUIreg;
  font-size: 16px;
  margin-top: 10px;
}
.home-content .featured-books {
  width: 100%;
  padding: 100px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content .featured-books .fb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 150px;
}
.home-content .featured-books .fb img {
  width: 306px;
  height: 491px;
  margin-bottom: 25px;
}
.home-content .featured-books .fb .description {
  font-family: segoeUIreg;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}
.home-content .featured-books .fb .price {
  font-family: segoeUIbold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}
.home-content .featured-books .fb .add-cart {
  width: 222px;
  height: 68px;
  border: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.home-content .featured-books .fb .add-cart a {
  cursor: pointer;
  font-family: segoeUIreg;
  font-size: 16px;
}

.about-content {
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-content .section1 {
  display: flex;
  justify-content: space-between;
  height: 710px;
}
.about-content .section1 img {
  margin-top: 50px;
  width: 393px;
  height: 587px;
}
.about-content .section1 .about-text1 {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.about-content .section1 .about-text1 .title {
  font-family: segoeUIbold;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.about-content .section1 .about-text1 .subtitle {
  font-family: segoeUIbold;
  font-size: 26px;
  color: #000;
  text-align: center;
}
.about-content .section1 .about-text1 p {
  font-family: segoeUIbold;
  font-size: 16px;
  color: #000;
}
.about-content .section2 {
  display: flex;
  justify-content: space-between;
  height: 710px;
}
.about-content .section2 img {
  margin-top: 50px;
  width: 393px;
  height: 587px;
}
.about-content .section2 .about-text2 {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.about-content .section2 .about-text2 .title {
  font-family: segoeUIbold;
  font-size: 32px;
  color: #000;
  text-align: center;
}
.about-content .section2 .about-text2 .subtitle {
  font-family: segoeUIbold;
  font-size: 26px;
  color: #000;
  text-align: center;
}
.about-content .section2 .about-text2 p {
  font-family: segoeUIbold;
  font-size: 16px;
  color: #000;
}

.blog-content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.blog-content .section {
  width: 100%;
  height: 463px;
  background-color: #587c83;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
}
.blog-content .section img {
  width: 250px;
  height: 380px;
  margin: 50px;
}
.blog-content .section .section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-content .section p {
  color: #fff;
}
.blog-content .section .title {
  font-family: segoeUIbold;
  font-size: 32px;
}
.blog-content .section .content {
  font-family: segoeUIreg;
  font-size: 16px;
  text-align: center;
}
.blog-content .section .read-more {
  width: 222px;
  height: 68px;
  border: solid 1px #fff;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-content .section .read-more a {
  text-decoration: none;
  color: #fff;
  font-family: segoeUIreg;
  font-size: 16px;
}
.blog-content .section .mini-hero1 {
  width: 100%;
  height: 100%;
  background-image: url("../images/open-book-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 50px;
}
.blog-content .section .mini-hero2 {
  width: 100%;
  height: 100%;
  background-image: url("../images/ereading-blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 50px;
}

.blog1-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 200px;
}
.blog1-content .blog1-hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.blog1-content .blog1-hero-wrapper .blog1-hero {
  width: 100%;
  height: 463px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.3), rgb(88, 124, 131)), url("../images/february-favorites-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog1-content .blog1-hero-wrapper .blog1-hero ._1 {
  font-family: segoeUIbold;
  font-size: 32px;
  color: #fff;
}
.blog1-content .blog1-hero-wrapper .blog1-hero ._2 {
  font-family: segoeUIbold;
  font-size: 26px;
  color: #fff;
}
.blog1-content .blog1-hero-wrapper .blog1-hero ._3 {
  font-family: segoeUIbold;
  font-size: 16px;
  color: #fff;
}
.blog1-content .blog1-section {
  display: flex;
  height: 580px;
  width: 100%;
  padding-left: 150px;
  padding-right: 50px;
  align-items: center;
}
.blog1-content .blog1-section img {
  width: 250px;
  height: 380px;
  margin-right: 20px;
}
.blog1-content .blog1-section .blog-section-title {
  font-family: segoeUIbold;
  font-size: 26px;
  margin-bottom: 20px;
}
.blog1-content .blog1-section .blog-section-content {
  font-family: segoeUIbold;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog2-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.blog2-content .blog2-hero-wrapper {
  width: 100%;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.blog2-content .blog2-hero-wrapper .blog2-hero {
  height: 463px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url("../images/book-club-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.blog2-content .blog2-hero-wrapper .blog2-hero .b2-hero-title {
  font-family: segoeUIbold;
  font-size: 32px;
  color: #fff;
}
.blog2-content .blog2-hero-wrapper .blog2-hero .b2-hero-subtitle {
  font-family: segoeUIbold;
  font-size: 26px;
  color: #fff;
}
.blog2-content .b2-article {
  width: 100%;
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 600px;
}
.blog2-content .b2-article img {
  width: 40%;
  height: 463px;
  margin-right: 25px;
}
.blog2-content .b2-article .b2-text {
  font-family: segoeUIreg;
  font-size: 16px;
}

.b3-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.b3-content .b3-hero-wrapper {
  width: 100%;
  padding: 100px;
}
.b3-content .b3-hero-wrapper .b3-hero {
  width: 100%;
  height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(88, 124, 131, 0.5), rgba(88, 124, 131, 0.5)), url("../images/eread-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.b3-content .b3-hero-wrapper .b3-hero .b3h-title {
  font-family: segoeUIbold;
  font-size: 32px;
  color: #fff;
}
.b3-content .b3-hero-wrapper .b3-hero .b3h-subtitle {
  font-family: segoeUIbold;
  font-size: 26px;
  color: #fff;
}
.b3-content .b3-article {
  width: 100%;
  padding-left: 100px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 600px;
}
.b3-content .b3-article img {
  width: 40%;
  height: 464px;
  margin-right: 25px;
}
.b3-content .b3-article .b3-text {
  font-family: segoeUIreg;
  font-size: 16px;
}
