.b3-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .b3-hero-wrapper {
    width: 100%;
    padding: 100px;

    .b3-hero {
      width: 100%;
      height: 463px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          rgba(88, 124, 131, 0.5),
          rgba(88, 124, 131, 0.5)
        ),
        url("../images/eread-hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      .b3h-title {
        font-family: segoeUIbold;
        font-size: 32px;
        color: #fff;
      }

      .b3h-subtitle {
        font-family: segoeUIbold;
        font-size: 26px;
        color: #fff;
      }
    }
  }

  .b3-article {
    width: 100%;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 600px;

    img {
      width: 40%;
      height: 464px;
      margin-right: 25px;
    }

    .b3-text {
      font-family: segoeUIreg;
      font-size: 16px;
    }
  }
}
