.books-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 25px;
  padding-right: 25px;

  .section {
    font-family: segoeUIbold;
    margin-bottom: 150px;

    .section-title {
      font-size: 26px;
      color: #000;
      margin-bottom: 50px;
    }

    .section-books {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .bk {
        display: flex;
        max-width: 500px;

        img {
          width: 223px;
          height: 246px;
          margin-right: 25px;
        }

        .bk-info {
          display: flex;
          flex-direction: column;
          margin-left: 5px;

          .desc {
            font-family: segoeUIreg;
            font-size: 16px;
            margin-bottom: 50px;
          }

          .bk-price {
            font-family: segoeUIbold;
            font-size: 16px;
            margin-bottom: 50px;
          }

          .add-cart {
            width: 222px;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px #000;

            a {
              font-family: segoeUIreg;
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
