@font-face {
  font-family: segoeUIreg;
  src: url(../fonts/segoeui.ttf);
}

@font-face {
  font-family: segoeUIbold;
  src: url(../fonts/segoeuib.ttf);
}

@font-face {
  font-family: segoeUIitalic;
  src: url(../fonts/segoeuii.ttf);
}
